<div class="nested-fields">
  <%= link_to_add_association 'Add new event', pe, :events, :partial => "/bigos_events_box/admin/events/item_form", "data-association-insertion-method" => "after", :class => "small button" %>
</div>
